{% extends "pmgapp/base.html" %}
{% block title %}НСЗУ пакети медичних гарантій{% endblock %}
{% block content %}
	 <h2>Перелік пакетів медичних гарантій:</h2>
     <hr style="border: 1px solid #ccc;">
       <ul>
  	{% for packet in packets %}
       <li>
          	<a href="{% url 'packet:packet_detail' packet.packet_number %}">{{ packet.title }}</a>
       </li>
        {% endfor %}
      </ul>
{% endblock %}
{% block sidebar %}
    <p><a href="https://www.nszu.gov.ua/" class="btn btn-primary btn-sm w-100 mt-2" target="_blank">НСЗУ</a></p>
{% endblock %}