body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

table {
    width: 100%; /* Займає всю ширину контейнера */
    border-collapse: collapse; /* З'єднує межі комірок */
    margin-bottom: 20px; /* Відступ знизу */
}

th, td {
    border: 1px solid #ddd; /* Тонка сіра межа */
    padding: 8px; /* Внутрішній відступ у комірках */
    text-align: left; /* Вирівнювання тексту зліва */
}

th {
    background-color: #f2f2f2; /* Світло-сірий фон для заголовків */
    font-weight: bold; /* Жирний текст для заголовків */
}

/* pmg.css */

/* Стилі для таблиці співставлення */
.table-bordered th.col-posluga,
.table-bordered td.col-posluga {
    width: 15%; /* Займає 40% ширини таблиці */
    vertical-align: top; /* Вирівнювання по верхньому краю */
}

.table-bordered th.col-nk25,
.table-bordered td.col-nk25 {
    width: 35%; /* Займає 15% ширини таблиці */
    vertical-align: top; /* Вирівнювання по верхньому краю */
}

.table-bordered th.col-nk26,
.table-bordered td.col-nk26 {
    width: 35%; /* Займає 15% ширини таблиці */
    vertical-align: top; /* Вирівнювання по верхньому краю */
}

.table-bordered th.col-dodatok,
.table-bordered td.col-dodatok {
    width: 15%; /* Займає 30% ширини таблиці */
    vertical-align: top; /* Вирівнювання по верхньому краю */
}

/* Додаткові стилі для таблиці (за бажанням) */
.table-bordered th {
    background-color: #f8f9fa; /* Світло-сірий фон для заголовків */
    text-align: left; /* Вирівнювання тексту в заголовках по лівому краю */
}

.table-bordered td {
    vertical-align: top; /* Вирівнювання тексту в комірках зверху */
}