{% extends "pmgapp/base.html" %}
{% block title %}НСЗУ пакети медичних гарантій{% endblock %}
{% block content %}
    <h1>{{ packet.title }}</h1>
   <p>(пакет № {{packet.packet_number}})</p>
   <h2>Вимоги до пакету</h2>
    {{packet.vymohy | safe}}
<a href="{% url 'packet:packet_list' %}" class="btn btn-secondary mt-3">Назад до списку пакетів</a>
{% endblock %}
{% block sidebar %}
    <a href="{% url 'packet:packet_list' %}" class="btn btn-secondary btn-sm w-100 mt-5">Назад до списку пакетів</a>
{% endblock %}